.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 229px;
  min-height: 150px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 200px;
}

.card > .image > img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card > .body {
  padding: 15px 18.25px;
  display: flex;
}
.label {
  min-height: 20px;
  word-break: break-word;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.17px;
  color: #1B1B1B;
  margin: 0 0 0 10.25px;
}

.card > .body > input[type="checkbox"] {
  height: 14px;
  border-radius: 0;
}

.hover {
  box-shadow: 0 0 0 2px #65E9D9;
}
